@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #f694c1, #ffa3a5, #fdba98, #edd09f, #dce4b7, #c8ebc7, #b9f0dc, #b2f3f2, #9eeaff, #ace0ff, #c5d2ff, #e4c1f9);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
