:root{
  --pink: #F694C1;
}

.navbar{
  background-color: whitesmoke;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  padding: 0.2rem;
  z-index: 999;
}

.navbar > div >  img{
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
}

.current{
  background-color: var(--pink);
  border-radius: 100%;
}

div > a{
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.4rem;
}