.offline-wrapper{
    color: rgb(255, 255, 255);
    height: 88vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.offline-wrapper > img{
    height: 40%;
}
